{% extends "base.html" %}

{% block title %} Binary Upload {% endblock %}

{% block restbody %}
    <!--{% for event_date in event_date_list %}-->
        <!--<a href="{{event_date.year}}/{{event_date.month}}/{{event_date.day}}">{{ event_date.date}}</a>-->
    <!--{% endfor %}-->
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th>Component</th>
            <th>Upload Count</th>
        </thead>
        <tbody>
            {% for component,count in upload_count_list %}
                {% if count != 0 %}
                    <tr>
                        <td>{{component}}</td>
                        <td>{{count}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th>Component</th>
            <th>Modify Count</th>
        </thead>
        <tbody>
            {% for component,count in modify_count_list %}
                {% if count != 0 %}
                    <tr>
                        <td>{{component}}</td>
                        <td>{{count}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>DateTime</th>
                <th>Component</th>
                <th>Code</th>
                <th>Binary</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody class="table table-hover">
            {% for event in event_list %}
                <tr>
                    <td>{{event.event_date}}</td>
                    <td>{{event.component_name}}</td>
                {% if event.status_change == 'unstable' %}
                    <td><b class="bg-danger"> &nbsp;{{event.status_change}}&nbsp; </b></td>
                    <td>{{ event.binary}}</td>
                {% elif event.status_change == 'stable' or event.status_change == 'production' %}
                    <td><b class="bg-success"> &nbsp;{{event.status_change}}&nbsp;</b></td>
                    <td>{{ event.binary}}</td>
                {% else %}
                    <td><b class="bg-info"> &nbsp;{{event.status_change}}&nbsp; </b></td>
                    <td>{{ event.binary}}</td>
                {% endif %}
                    <td>
                        <button type="button" class="btn btn-info btn-xs glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#infoModal{{event.id}}"></button>


                        <!-- Info Modal -->
                        <div id="infoModal{{event.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Info Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Binary Info</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <td>Change Notes</td>
                                                {% if event.event_log != '' %}
                                                    <td>{{ event.event_log }}</td>
                                                {% else %}
                                                    <td>No notes available</td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}