{% extends "base.html" %}

{% block title %} Binary Index {% endblock %}

{% block dirpath %}
    <p class="directory_path">Path:
        <a href="/releases">Releases</a>/<a
                href="/releases/{{ product_object.id }}">{{ product_object.name }}</a>/<a
                href="/releases/{{ product_object.id }}/{{ component_object.id }}">{{ component_object.name }}</a>
    </p>
{% endblock %}

{% block tlist %}
    <thead>
        <tr>
            <th>
            Binary
            </th>
            <th>
                Upload Date
            </th>
            <th>
                Status
            </th>
            <th>
                Info
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="table table-hover">
    {% if binary_list %}
        {% for binary in binary_list %}
            <tr>
                {% if binary.status != 'unstable' %}
                    <td><a href="{{ binary.url }}">{{ binary.name }}</a></td>
                {% else %}
                    <!--<td><a href="{% url 'product_index' %}{{ binary.path }}">{{ binary.name }}</a></td>-->
                    <td><s class="binary_unstable">{{ binary.name }}</s></td>
                {% endif %}
                <td>{{ binary.upload_date }}</td>
                <td><a href="#" rel="tooltip" title="{{ binary.status_change_date}}">{{ binary.status}}</a></td>
                <td>
                    <!--<a href="#"-->
                       <!--class="glyphicon glyphicon-info-sign"-->
                       <!--rel="tooltip"-->
                       <!--title="Notes: {{ binary.notes }} &#13;Md5sum: {{ binary.md5sum }}"></a>-->

                    <button type="button" class="btn btn-info btn-xs glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#infoModal{{binary.id}}"></button>

                    <!-- Info Modal -->
                    <div id="infoModal{{binary.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                        <!-- Info Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Binary Info</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <td>Developer Notes</td>
                                            <td>{{ binary.notes }}</td>
                                        </tr>
                                        <tr>
                                            <td>Md5sum</td>
                                            <td>{{ binary.md5sum }}</td>
                                        </tr>
                                        <tr>
                                            <td>Change Notes</td>
                                            <td>{{ binary.change_notes }}</td>
                                        </tr>
                                        <tr>
                                            <td>Bug URL</td>
                                            {% if binary.bug_url != '' %}
                                                <td>{{ binary.bug_url}}</td>
                                            {% else %}
                                                <td> No bugs filed </td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>


                </td>
                <td>
                    {% if binary.status != 'unstable' %}
                        <a class="btn btn-primary btn-xs" onclick="return (status_change())"
                       href="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/stable/" >Stable</a>
                        <a class="btn btn-success btn-xs" onclick="return (status_change())"
                           href="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/production/" >Production</a>
                        <a class="btn btn-danger btn-xs" onclick="return (status_change())"
                           href ="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/unstable/" >Unstable</a>
                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">Open</button>

                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Unstable Binary</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post"
                                              action="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/unstable/"
                                              class="form-horizontal" role="form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">Notes:</label>
                                                <div class="col-sm-10">
                                                    <textarea id="notes" name="change_notes" class="form-control" placeholder="Enter notes" maxlength="1990"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" >Bug:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="bug_url" class="form-control" id="bug" placeholder="Bug url">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% else %}
                        <b class="binary_unstable">No actions available</b>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>No binaries available for component: <b>{{ component_object.name }}</b>.</td></tr>
    {% endif %}
    </tbody>

{% endblock %}