{% extends "base.html" %}

{% block title %} Binary Index {% endblock %}

{% block dirpath %}
    <p class="directory_path">Path:
        <a href="/releases">Releases</a>/<a
                href="/releases/{{ product_object.id }}">{{ product_object.name }}</a>/<a
                href="/releases/{{ product_object.id }}/{{ component_object.id }}">{{ component_object.name }}</a>
    </p>
{% endblock %}

{% block tlist %}
    <thead>
        <tr>
            <th>
            Binary
            </th>
            <th>
                Upload Date
            </th>
            <th>
                Status
            </th>
            <th>
                Info
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="table table-hover">
    {% if binary_list %}
        {% for binary in binary_list %}
            <tr>
                {% if binary.status != 'unstable' %}
                    <td><a href="{{ binary.url }}">{{ binary.name }}</a></td>
                {% else %}
                    <!--<td><a href="{% url 'product_index' %}{{ binary.path }}">{{ binary.name }}</a></td>-->
                    <td><s class="binary_unstable">{{ binary.name }}</s></td>
                {% endif %}
                <td>{{ binary.upload_date }}</td>
                <td><a href="#" rel="tooltip" title="{{ binary.status_change_date}}">{{ binary.status}}</a></td>
                <td>
                    <a href="#"
                       class="glyphicon glyphicon-info-sign"
                       rel="tooltip"
                       title="Notes: {{ binary.notes }} &#13;Md5sum: {{ binary.md5sum }}"></a>
                </td>
                <td>
                    {% if binary.status != 'unstable' %}
                        <a class="btn btn-primary btn-xs" onclick="return (status_change())"
                       href="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/stable/" >Stable</a>
                        <a class="btn btn-success btn-xs" onclick="return (status_change())"
                           href="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/production/" >Production</a>
                        <a class="btn btn-danger btn-xs" onclick="return (status_change())"
                           href="{% url 'product_index' %}binary_status/{{ product_object.id }}/{{ component_object.id }}/{{binary.id}}/unstable/" >Unstable</a>
                    {% else %}
                        <b class="binary_unstable">No actions available</b>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>No binaries available for component: <b>{{ component_object.name }}</b>.</td></tr>
    {% endif %}
    </tbody>

{% endblock %}